-- Import Reference Data to Supabase Dev
-- Generated from JSON database
-- Run this in Supabase SQL Editor

-- Import Team Members

-- Import Resource Types

-- Import Teams
INSERT INTO teams (id, name, is_archived, created_at) VALUES
  ('cf16fa93-36ac-4f13-8eab-0a4d036defb5', 'Admin', false, '2025-11-29T19:36:49.056Z'),
  ('94920291-092c-4f1a-abc4-946a38abe99d', 'Management', false, '2025-11-29T19:47:11.046Z'),
  ('7022bc8c-6f32-458b-9f73-1f1f775e4c57', 'Member', false, '2025-11-29T19:47:26.064Z')
ON CONFLICT (id) DO UPDATE SET
  name = EXCLUDED.name,
  is_archived = EXCLUDED.is_archived;

-- Done! Reference data imported.
